{% load account %}
{% load static %}
{% block extra_head %}
  <!-- Included navbar stylesheet -->
  <link href="{% static 'css/navbar_styles.css' %}" rel="stylesheet">
{% endblock %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Ani-Bite Recommender</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/anime">Anime</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/anime/infinite">Rate Anime</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/anime/popular">Popular Review</a>
          </li>
        </ul>
      {% if user.is_authenticated %}
        <a class="btn btn-outline-primary" href="/accounts/logout">{% user_display user %}</a>
      {% else %}
        <a class="btn btn-outline-primary" href="/accounts/login">LogIn</a>
        <a class="btn btn-outline-primary" href="/accounts/signup">SignUp</a>
      {% endif %}
      </div>
    </div>
  </nav>