{% extends "account/base.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block extra_head %}
  <link href="{% static 'css/signup_styles.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- Main content container for signup -->
<div class="main-container">
  <!-- Flex container for both form and criteria messages -->
  <div class="signup-flex-container">
    
    <!-- Sign-up form -->
    <main class="form-signup">
      <h1 class="h3 mb-3 fw-normal">{% trans "Sign Up" %}</h1>
      <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

      <form id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.username }}
        {{ form.email }}
        {{ form.password1 }}
        {{ form.password2 }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-primary" type="submit">{% trans "Sign Up" %}</button>
      </form>
    </main>

    <!-- Password criteria messages -->
    <div class="password-criteria">
      <ul>
        <li>Your password can't be too similar to your other personal information.</li>
        <li>Your password must contain at least 8 characters.</li>
        <li>Your password can't be a commonly used password.</li>
        <li>Your password can't be entirely numeric.</li>
      </ul>
    </div>

  </div>
</div>
{% endblock %}
